@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #F5F5F5;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: rgba(248, 248, 248, 0.8);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    padding: 0 5vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav-img {
    height: 60%;
}

.nav-img img {
    height: 100%;
}

.nav-links {
    width: max(30%, 320px);
}

.nav-links ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.nav-social {
    width: 145px;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.nav-social a {
    text-decoration: none;
    color: #0487DA;
}

@media (max-width: 865px) {
    nav {
        padding: 0 3vw;
        background: rgba(248, 248, 248, 1) !important;
    }
    .nav-links {
        display: none;
    }
    .nav-social {
        font-size: 1.5rem;
        width: 100px;
    }
}

.home {
    height: 110vh;
    background-image: url("/assets/img/home-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.home-text {
    font-weight: 800;
    width: 60%;
    padding-left: 10%;
    padding-top: 13%;
    font-size: 2.4rem;
    color: #171717;
}

.home-logo {
    position: absolute;
    height: 200px;
    right: 15vw;
    top: 20vh;
    animation: up-down 3s infinite;
}

.home-logo img {
    height: 100%;
}

@media (max-width: 865px) {
    .home {
        height: 100vh;
    }
    .home-text {
        font-size: 1rem;
        width: 90%;
        padding-top: 15vh;
        padding-left: 5%;
    }
    .home-logo {
        animation: none;
        height: 70px;
        right: 60vw;
        top: 23vh;
    }
}

@keyframes up-down {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.contact-us {
    background: #F1F1F1;
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.2);
    padding: 20px 40px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    right: 1.5vw;
    bottom: 15vh;
    font-size: 1.2rem;
    transition: 0.5s;
    width: 230px;
    height: 70px;
    overflow: hidden;
}

.contact-initial {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contact-initial i {
    margin-right: 10px;
}

.contact-animation {
    animation: contact 0.1s ease-in forwards;
}

.contact-animation-reverse {
    animation: contact 0.1s ease-in backwards;
}

@keyframes contact {
    0% {
        width: 230px;
        height: 70px;
        cursor: pointer;
    }
    100% {
        width: max(32%,450px);
        height: max-content;
        min-height: 70px;
        cursor: default;
    }
}

.contact-later {
    position: relative;
    padding: 1vw 0;
    display: none;
}

.contact-later h4 {
    text-align: center;
    font-weight: 600;
    font-size: 1.4rem;
}

.contact-later .contact-x {
    position: absolute;
    right: 0px;
    cursor: pointer;
    top: 18px;
}

.contact-later img {
    width: 70%;
    display: flex;
    margin: auto;
}

.contact-note {
    font-weight: 400;
    font-size: 0.9rem;
    margin-top: 4vh;
    text-align: justify;
    margin-bottom: 3vh;
}

.contact-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.contact-detail a {
    text-decoration: none;
    color: black;
}

.contact-detail i {
    color: #0487DA;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.15));
    margin-right: 10px;
}

.contact-detail p {
    font-weight: 600;
    font-size: 1rem;
}

@media (max-width: 865px) {
    .contact-us {
        bottom: 5vh;
        width: 70px;
    }
    .contact-details {
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .contact-detail {
        margin-bottom: 10px;
        width: 100%;
    }
    .contact-later .contact-x {
        top: 8px;
        right: -10px;
    }
    .contact-initial p {
        display: none;
    }
    .contact-initial i {
        margin-right: 0px;
    }
    @keyframes contact {
        0% {
            width: 70px;
            height: 70px;
            cursor: pointer;
        }
        100% {
            width: 300px;
            height: max-content;
            min-height: 70px;
            cursor: default;
        }
    }
}

.why-us {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    margin-top: 0vh;
    padding-top: 100px;
}

.why-us-desc {
    width: 35%;
}

.why-us-desc h2 {
    font-weight: 600;
    text-align: center;
}

.why-us-desc p {
    margin-top: 3vh;
    text-align: justify;
}

.why-us-cards {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.why-us-card {
    background: rgba(60, 158, 222, 0.35);
    box-shadow: 0px 4px 8px rgba(129, 124, 124, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max(12vw,140px);
    width: max(12vw,140px);
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.why-us-card img {
    height: 40px;
    display: flex;
    margin: auto;
}

.why-us-card p {
    color: rgba(0, 0, 0, 0.9);
    font-weight: 500;
    margin-top: 2vh;
    text-align: center;
}

@media (max-width: 865px) {
    .why-us {
        flex-direction: column;
    }
    .why-us-desc {
        width: 100%;
    }
    .why-us-cards {
        width: 100%;
    }
    .why-us-card {
        height: 80px;
        width: 80px;
    }
    .why-us-card img {
        height: 20px;
    }
    .why-us-card p {
        font-size: 0.7rem;
    }
}

.video {
    width: 100%;
    position: relative;
    margin-top: 100px;
}

.video-image {
    width: 100%;
}

.video-image img {
    width: 100%;
}

.video i {
    position: absolute;
    color: white;
    font-size: 3vw;
    top: 42%;
    left: 48%;
    cursor: pointer;
    transition: 0.25s;
}

.video i:hover {
    top: 40%;
    left: 47.5%;
    font-size: 4vw;
}

@media (max-width: 865px) {
    .video {
        height: 30vh;
    }
    .video-image {
        height: 30vh;
    }
    .video-image img {
        height: 100%;
        object-fit: cover;
    }
    .video i {
        font-size: 2rem;
        left: 45%;
        top: 40%;
    }
    .video i:hover {
        font-size: 2rem;
        left: 45%;
        top: 40%;
    }
}

.what-we-do {
    margin-top: 5vh;
}

.travel-buddy {
    display: flex;
}

.travel-buddy-left {
    position: relative;
    width: 45%;
    background-color: #1C5981;
    padding: 5vw;
}

.travel-buddy-left h5 {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: white;
    font-size: 1rem;
}

.travel-buddy-left h4 {
    font-weight: 600;
    color: white;
    font-size: 1.5rem;
    margin-top: 2vh;
    margin-bottom: 10vh;
}

.luggage-icon {
    height: 50px;
    margin-top: 6vh;
    margin-bottom: 2vh;
}

.luggage-icon img {
    height: 100%;
}

.travel-buddy-left h2 {
    color: white;
    font-size: 2.4rem;
    font-weight: 500;
}

.what-we-underline {
    height: 5px;
    width: 5vw;
    background-color: #9FC4DC;
    margin-top: 2vh;
}

.what-we-colon {
    color: white;
    font-weight: 700;
    font-size: 3rem;
    margin-top: 3vh;
}

.travel-buddy-features {
    color: white;
    font-weight: 500;
    margin-left: 3vw;
}

.travel-buddy-features ul li {
    margin-bottom: 1.5vh;
}

.luggage-icon-2 {
    height: 150px;
    position: absolute;
    right: 0;
    bottom: 10px;
}

.luggage-icon-2 img {
    height: 100%;
    display: block;
}

.travel-buddy-right {
    width: 55%;
    position: relative;
}

.travel-buddy-right img {
    width: 30%;
}

.buddy-image-1 {
    position: absolute;
    left: 10vw;
    top: 80px;
}

.buddy-image-2 {
    position: absolute;
    top: 20px;
    right: 10vw;
}

.buddy-image-3 {
    position: absolute;
    bottom: 70px;
    left: 10vw;
}

.buddy-image-4 {
    position: absolute;
    top: 443px;
    right: 10vw;
}

.plan-my-trip {
    display: flex;
    margin-top: 5vh;
}

.plan-my-trip-left {
    width: 55%;
    position: relative;
}

.plan-my-trip-left img {
    border-radius: 50%;
    position: absolute;
    width: 30%;
    object-fit: cover;
}

.plan-image-1 {
    height: 20vw;
    width: 20vw !important;
    left: 4vw;
    top: 20px;
}

.plan-image-2 {
    height: 13vw;
    width: 13vw !important;
    top: 50px;
    right: 15vw;
}

.plan-image-3 {
    height: 10vw;
    width: 10vw !important;
    bottom: 60px;
    left: 20vw;
}

.plan-image-4 {
    height: 15vw;
    width: 15vw !important;
    bottom: 30px;
    right: 7vw;
}

.plan-my-trip-right {
    position: relative;
    width: 45%;
    background-color: #1C5981;
    padding: 5vw;
}

.plan-my-trip-right h2 {
    color: white;
    font-size: 2.4rem;
    font-weight: 500;
}

.plan-my-trip-features {
    color: white;
    font-weight: 500;
    margin-left: 3vw;
}

.plan-my-trip-features ul li {
    margin-bottom: 1.5vh;
}

.plan-my-trip-icon {
    height: 300px;
    position: absolute;
    right: 0;
    bottom: 30px;
}

.plan-my-trip-icon img {
    height: 100%;
    display: block;
}

@media (max-width: 865px) {
    .travel-buddy {
        flex-direction: column;
    }
    .travel-buddy-left {
        width: 95%;
        padding: 50px;
    }
    .travel-buddy-right {
        width: 95%;
        padding: 50px;
        height: 61vh;
    }
    .travel-buddy-right img {
        width: 46%;
    }
    .buddy-image-1 {
        left: 5vw;
        top: 20px;
    }
    .buddy-image-2 {
        top: 20px;
        bottom: 0;
        right: 0;
    }
    .buddy-image-3 {
        left: 5vw;
        bottom: 0px;
    }
    .buddy-image-4 {
        top: auto;
        bottom: 0px;
        right: 0;
    }
    .plan-my-trip {
        flex-direction: column;
    }
    .plan-my-trip-left {
        width: 95%;
        margin-left: 5%;
        position: relative;
        order: 2;
        height: 50vh;
    }
    .plan-my-trip-left img {
        width: 35%;
    }
    .plan-image-1 {
        width: 50vw !important;
        height: 50vw !important;
        top: 10px;
        left: 0;
    }
    .plan-image-2 {
        width: 35vw !important;
        height: 35vw !important;
        top: 40px;
        right: 5vw;
    }
    .plan-image-3 {
        width: 30vw !important;
        height: 30vw !important;
        bottom: 0px;
        left: 5vw;
    }
    .plan-image-4 {
        width: 40vw !important;
        height: 40vw !important;
        bottom: 0;
        right: 10vw;
    }
    .plan-my-trip-right {
        width: 95%;
        order: 1;
        margin-left: 5%;
        padding: 50px;
    }
}

.meet-our-team {
    background-color: #1C5981;
    margin-top: 5vh;
    padding: 5vw;
    display: flex;
}

.meet-our-team-left {
    width: 40%;
    color: white;
}

.meet-our-team-icon {
    height: 50px;
}

.meet-our-team-icon img {
    height: 100%;
}

.meet-our-team h2 {
    font-weight: 500;
    font-size: 2rem;
}

.meet-our-team-underline {
    height: 5px;
    width: 5vw;
    background-color: #9FC4DC;
    margin-top: 2vh;
}

.team-values {
    margin-top: 8vh;
}

.team-values h3 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2em;
    font-size: 1rem;
}

.team-values p {
    margin-top: 3vh;
    width: 80%;
    font-weight: 500;
}

.meet-our-team-right {
    width: 60%;
    margin: auto;
}

.team-carousel-squares {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
}

.team-carousel-square {
    height: 10px;
    width: 10px;
    background: rgba(255, 255, 255, 0.4);
    margin-left: 7px;
    margin-right: 7px;
    transition: 0.5s;
}

.square-selected {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-carousel-main {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    height: 30vh;
}

.team-carousel-image {
    transition: 0.5s;
}

.team-carousel-image img {
    border-radius: 50%;
    height: 100%;
}

.carousel-selected {
    height: 200px;
    z-index: 3;
}

.carousel-selected img {
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.15);
}

.carousel-prev-prev, .carousel-next-next {
    height: 120px;
    opacity: 0.6;
    z-index: 1;
}

.carousel-prev, .carousel-next {
    height: 150px;
    opacity: 0.8;
    z-index: 2;
}

.carousel-prev-prev {
    transform: translateX(100px);
}

.carousel-prev {
    transform: translateX(50px);
}

.carousel-next {
    transform: translateX(-50px);
}

.carousel-next-next {
    transform: translateX(-100px);
}

.team-carousel-button {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.team-details {
    color: white;
    text-align: right;
    margin-top: 3vh;
    text-align: center;
}

.team-name {
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;
    margin-bottom: 1vh;
}

.team-designation {
    font-weight: 600;
    text-shadow: 1.1rem;
    margin-bottom: 1.5vh;
}

.team-social a {
    text-decoration: none;
}

.team-social i {
    color: white;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
    font-size: 2rem;
    margin-left: 10px;
    margin-right: 10px;
}

.meet-our-team-phone {
    display: none;
}

.meet-our-team-phone-card {
    text-align: center;
    color: white;
    margin-bottom: 3vh;
}

.meet-our-team-phone-card img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 2vh;
}

.team-phone-name {
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;
    margin-bottom: 1vh;
}

.team-phone-designation {
    font-weight: 600;
    text-shadow: 1.1rem;
    margin-bottom: 1.5vh;
}

.team-phone-social a {
    text-decoration: none;
}

.team-phone-social i {
    color: white;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
    font-size: 2rem;
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 865px) {
    .meet-our-team {
        flex-direction: column;
    }
    .meet-our-team-underline {
        width: 50vw;
    }
    .meet-our-team-left {
        width: 100%;
    }
    .meet-our-team-right {
        display: none;
    }
    .team-values p {
        width: 100%;
    }
    .meet-our-team-phone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
    }
}

.gallery {
    padding: 5vw 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.gallery-row {
    width: 33.33333333%;
    height: 100%;
}

.gallery-image-upper {
    height: 40%;
    object-fit: contain;
}

.gallery-image-lower {
    height: 60%;
    object-fit: contain;
}

.gallery-title {
    height: 40%;
    background-color: #1C5981;
    display: flex;
    flex-direction: column;
    padding-top: 2vh;
    padding-left: 5vw;
}

.gallery-icon {
    width: 100px;
}

.gallery-icon img {
    width: 100%;
}

.gallery-title h2 {
    color: white;
    font-size: 2.4rem;
    font-weight: 500;
}

.gallery-underline {
    height: 5px;
    width: 70%;
    background-color: #9FC4DC;
    margin-top: 2vh;
}

@media (max-width:865px) {
    .gallery {
        flex-direction: column;
        height: 80vh;
        padding: 1vw;
    }
    .gallery-row {
        display: flex;
        width: 100%;
        height: 33.33%;
    }
    .gallery-image-lower, .gallery-image-upper {
        height: 100%;
    }
    .gallery-image-lower {
        width: 45%;
    }
    .gallery-image-upper {
        width: 55%;
    }
    .gallery-title {
        height: 100%;
        width: 55%;
        padding-top: 2vh;
    }
    .gallery-icon {
        width: 70px;
    }
    .gallery-title h2 {
        font-size: 8vw;
    }
}

.achievements {
    background-color: #1C5981;
    margin-top: 5vh;
    padding: 3vw 5vw;
    height: 90vh;
}

.achievements-heading h2 {
    font-weight: 500;
    font-size: 2rem;
    color: white;
    margin-top: 2vh;
}

.achievements-icon {
    height: 50px;
}

.achievements-icon img {
    height: 100%;
}

.achievement-underline {
    height: 5px;
    width: 5vw;
    background-color: #9FC4DC;
    margin-top: 2vh;
}

.achievements-main {
    display: flex;
    margin-top: 5vh;
    position: relative;
}

.achievement-carousel {
    width: 50%;
    position: relative;
}

.achievement-carousel img {
    position: absolute;
    width: 80%;
    left: 20%;
    transition: 0.5s;
}

.achievement-details {
    display: flex;
    width: 50%;
    margin-left: 10%;
    align-items: center;
}

.achievement-details ul {
    width: 60%;
}

.achievement-details ul li {
    margin-top: 3vh;
    margin-bottom: 2vh;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
}

.achievement-list-underline {
    height: 4px;
    width: 15vw;
    background-color: #9FC4DC;
    transition: 1s;
}

#achievement-image-2, #achievement-image-3, #achievement-image-4 {
    opacity: 0;
}

#achievement-underline-2, #achievement-underline-3, #achievement-underline-4 {
    width: 0;
}

.achievements-design {
    position: absolute;
    height: 60vh;
    right: 5vw;
    bottom: -5vh;
}

.achievements-design img {
    height: 100%;
}

@media (max-width: 865px) {
    .achievements {
        height: 130vh;
        margin-top: 0;
    }
    .achievements-main {
        flex-direction: column;
        height: 100%;
    }
    .achievement-underline {
        width: 50vw;
    }
    .achievement-carousel {
        width: 100%;
        height: 30%;
    }
    .achievement-carousel img {
        width: 100%;
        left: 0;
    }
    .achievement-details {
        width: 90%;
        margin-left: 5%;
        height: 50%;
    }
    .achievement-details ul {
        width: 100%;
    }
    .achievements-design {
        height: 40vh;
        right: 0;
        bottom: 0;
    }
}

.reviews {
    background-color: #1C5981;
    margin-top: 5vh;
    padding: 3vw 5vw;
    position: relative;
    height: 85vh;
}

.reviews-heading-icon {
    height: 50px;
}

.reviews-heading-icon img {
    height: 100%;
}

.reviews-heading h2 {
    font-weight: 500;
    font-size: 2rem;
    color: white;
    margin-top: 2vh;
}

.reviews-underline {
    height: 5px;
    width: 5vw;
    background-color: #9FC4DC;
    margin-top: 2vh;
}

.review-card {
    background: rgba(60, 158, 222, 0.8);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    width: 30vw;
    padding: 1vw 2vw;
    position: absolute;
}

.review-header {
    display: flex;
    justify-content: space-between;
}

.review-user {
    display: flex;
    align-items: center;
}

.review-user img {
    height: 40px;
    margin-right: 1vw;
}

.review-user p {
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
    margin-right: 1vw;
}

.review-user i {
    color: white;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
}

.review-rating {
    display: flex;
    align-items: center;
    color: white;
}

.review-rating p {
    margin-right: 0.5vw;
}

.review-rating i {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.review-body {
    color: white;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-weight: 500;
}

#review-card-1 {
    top: 30vh;
    left: 10vw;
}

#review-card-2 {
    top: 23vh;
    left: 42vw;
}

#review-card-3 {
    top: 55vh;
    left: 15vw;
}

#review-card-4 {
    top: 48vh;
    left: 48vw;
}

.review-bg-icons {
    height: 150px;
    position: absolute;
}

.review-bg-icons img {
    height: 100%;
}

.review-thumbs {
    right: 10vw;
    top: 10vh;
}

.review-star {
    right: 8vw;
    bottom: 10vh;
}

.review-smile {
    bottom: 10vh;
    left: 1vw;
}

@media (max-width: 865px) {
    .reviews {
        height: 130vh;
    }
    .review-card {
        width: 80vw;
        background: rgba(60, 158, 222, 0.9);
        z-index: 2;
    }
    .reviews-underline {
        width: 50vw;
    }
    #review-card-1 {
        top: 25vh;
        left: 10vw;
    }
    #review-card-2 {
        top: 50vh;
        left: 10vw;
    }
    #review-card-3 {
        top: 75vh;
        left: 10vw;
    }
    #review-card-4 {
        top: 100vh;
        left: 10vw;
    }
    .review-bg-icons {
        height: 70px;
        z-index: 1;
    }
}

footer {
    position: relative;
    margin-top: 10vh;
}

.footer {
    width: 85%;
    margin: auto;
    background: #F4F4F4;
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-bottom: 5vh;
}

.footer-logo-vision {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    padding-top: 50px;
    margin-bottom: 3vh;
}

.footer-logo {
    min-width: 30%;
    max-width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    display: flex;
    width: 80%;
}

.footer-vision {
    width: 69%;
}

.footer-vision h3 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
}

.footer-vision p {
    margin-top: 4vh;
}

.footer-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8vh;
    padding: 0 4.5vw;
}

.footer-contact-details {
    display: flex;
    width: max(70%,600px);
    justify-content: space-between;
}

.footer-contact-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-contact-detail i {
    color: black;
    margin-right: 1vw;
    font-size: 1.3rem;
}

.footer-contact-detail a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
}

.footer-contact-social {
    display: flex;
    width: 15%;
    justify-content: space-between;
    font-size: 2rem;
}

.footer-contact-social a {
    text-decoration: none;
    color: #0487DA;
}

.footer-copyright {
    background-color: #1C5981;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 600;
    padding: 20px 4.5vw;
    border-radius: 0 0 20px 20px;
    margin-top: 3vh;
}

.footer-img {
    width: 100%;
    position: absolute;
    bottom: -60px;
    z-index: -1;
}

.footer-img img {
    width: 100%;
    display: block;
}

@media (max-width: 865px) {
    footer {
        margin-top: 5vh;
    }
    .footer-logo-vision {
        flex-direction: column;
        width: 100%;
        padding-top: 3vh;
    }
    .footer-logo {
        min-width: 60%;
        max-width: 60%;
    }
    .footer-vision {
        width: 85%;
        margin-top: 3vh;
    }
    .footer-vision h3 {
        font-size: 4vw;
    }
    .footer-vision p {
        margin-top: 1vh;
        font-size: 0.8rem;
    }
    .footer-contact {
        flex-direction: column;
        align-items: baseline;
        padding-left: 25px;
        margin-top: 3vh;
    }
    .footer-contact-details {
        flex-direction: column;
        width: 100%;
        align-items: baseline;
    }
    .footer-contact-detail i {
        margin-bottom: 20px;
        margin-right: 10px;
        font-size: 1rem;
    }
    .footer-contact-detail a {
        margin-bottom: 20px;
        font-size: 0.8rem;
    }
    .footer-contact-social {
        width: 40%;
        font-size: 1.5rem;
    }
}