@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #F5F5F5;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: rgba(248, 248, 248, 0.8);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    padding: 0 5vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav-img {
    height: 60%;
}

.nav-img img {
    height: 100%;
}

.nav-links {
    width: max(30%, 320px);
}

.nav-links ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.nav-social {
    width: 145px;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.nav-social a {
    text-decoration: none;
    color: #0487DA;
}

.home {
    height: 110vh;
    background-image: url("/assets/img/home-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.home-text {
    font-weight: 800;
    width: 60%;
    padding-left: 10%;
    padding-top: 13%;
    font-size: 2.4rem;
    color: #171717;
}

.home-logo {
    position: absolute;
    height: 200px;
    right: 15vw;
    top: 20vh;
    animation: up-down 3s infinite;
}

.home-logo img {
    height: 100%;
}

@keyframes up-down {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.contact-us {
    background: #F1F1F1;
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.2);
    padding: 20px 40px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    right: 1.5vw;
    bottom: 15vh;
    font-size: 1.2rem;
    transition: 0.5s;
    width: 230px;
    height: 70px;
    overflow: hidden;
}

.contact-initial {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contact-initial i {
    margin-right: 10px;
}

.contact-animation {
    animation: contact 0.1s ease-in forwards;
}

.contact-animation-reverse {
    animation: contact 0.1s ease-in backwards;
}

@keyframes contact {
    0% {
        width: 230px;
        height: 70px;
        cursor: pointer;
    }
    100% {
        width: max(32%,450px);
        height: max-content;
        min-height: 70px;
        cursor: default;
    }
}

.contact-later {
    position: relative;
    padding: 1vw 0;
    display: none;
}

.contact-later h4 {
    text-align: center;
    font-weight: 600;
    font-size: 1.4rem;
}

.contact-later .contact-x {
    position: absolute;
    right: 0px;
    cursor: pointer;
    top: 18px;
}

.contact-later img {
    width: 70%;
    display: flex;
    margin: auto;
}

.contact-note {
    font-weight: 400;
    font-size: 0.9rem;
    margin-top: 4vh;
    text-align: justify;
    margin-bottom: 3vh;
}

.contact-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.contact-detail i {
    color: #0487DA;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.15));
    margin-right: 10px;
}

.contact-detail p {
    font-weight: 600;
    font-size: 1rem;
}

.why-us {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    margin-top: 0vh;
    padding-top: 100px;
}

.why-us-desc {
    width: 35%;
}

.why-us-desc h2 {
    font-weight: 600;
    text-align: center;
}

.why-us-desc p {
    margin-top: 3vh;
    text-align: justify;
}

.why-us-cards {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.why-us-card {
    background: rgba(60, 158, 222, 0.35);
    box-shadow: 0px 4px 8px rgba(129, 124, 124, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max(12vw,140px);
    width: max(12vw,140px);
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.why-us-card img {
    height: 40px;
    display: flex;
    margin: auto;
}

.why-us-card p {
    color: rgba(0, 0, 0, 0.9);
    font-weight: 500;
    margin-top: 2vh;
    text-align: center;
}

.video {
    width: 100%;
    position: relative;
    margin-top: 100px;
}

.video-image {
    width: 100%;
}

.video-image img {
    width: 100%;
}

.video i {
    position: absolute;
    color: white;
    font-size: 3vw;
    top: 42%;
    left: 48%;
    cursor: pointer;
    transition: 0.25s;
}

.video i:hover {
    top: 40%;
    left: 47.5%;
    font-size: 4vw;
}

.what-we-do {
    margin-top: 5vh;
}

.travel-buddy {
    display: flex;
}

.travel-buddy-left {
    position: relative;
    width: 45%;
    background-color: #1C5981;
    padding: 5vw;
}

.travel-buddy-left h5 {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: white;
    font-size: 1rem;
}

.travel-buddy-left h4 {
    font-weight: 600;
    color: white;
    font-size: 1.5rem;
    margin-top: 2vh;
    margin-bottom: 10vh;
}

.luggage-icon {
    height: 50px;
    margin-top: 6vh;
    margin-bottom: 2vh;
}

.luggage-icon img {
    height: 100%;
}

.travel-buddy-left h2 {
    color: white;
    font-size: 2.4rem;
    font-weight: 500;
}

.what-we-underline {
    height: 5px;
    width: 5vw;
    background-color: #9FC4DC;
    margin-top: 2vh;
}

.what-we-colon {
    color: white;
    font-weight: 700;
    font-size: 3rem;
    margin-top: 3vh;
}

.travel-buddy-features {
    color: white;
    font-weight: 500;
    margin-left: 3vw;
}

.travel-buddy-features ul li {
    margin-bottom: 1.5vh;
}

.luggage-icon-2 {
    height: 150px;
    position: absolute;
    right: 0;
    bottom: 10px;
}

.luggage-icon-2 img {
    height: 100%;
    display: block;
}

.plan-my-trip {
    display: flex;
    margin-top: 5vh;
}

.plan-my-trip-left {
    width: 55%;
}

.plan-my-trip-right {
    position: relative;
    width: 45%;
    background-color: #1C5981;
    padding: 5vw;
}

.plan-my-trip-right h2 {
    color: white;
    font-size: 2.4rem;
    font-weight: 500;
}

.plan-my-trip-features {
    color: white;
    font-weight: 500;
    margin-left: 3vw;
}

.plan-my-trip-features ul li {
    margin-bottom: 1.5vh;
}

.plan-my-trip-icon {
    height: 300px;
    position: absolute;
    right: 0;
    bottom: 30px;
}

.plan-my-trip-icon img {
    height: 100%;
    display: block;
}

.meet-our-team {
    background-color: #1C5981;
    margin-top: 5vh;
    padding: 5vw;
    display: flex;
}

.meet-our-team-left {
    width: 40%;
    color: white;
}

.meet-our-team-icon {
    height: 50px;
}

.meet-our-team-icon img {
    height: 100%;
}

.meet-our-team h2 {
    font-weight: 500;
    font-size: 2rem;
}

.meet-our-team-underline {
    height: 5px;
    width: 5vw;
    background-color: #9FC4DC;
    margin-top: 2vh;
}

.team-values {
    margin-top: 8vh;
}

.team-values h3 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2em;
    font-size: 1rem;
}

.team-values p {
    margin-top: 3vh;
    width: 80%;
    font-weight: 500;
}

.meet-our-team-right {
    width: 60%;
    margin: auto;
}

.team-carousel-squares {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
}

.team-carousel-square {
    height: 10px;
    width: 10px;
    background: rgba(255, 255, 255, 0.4);
    margin-left: 7px;
    margin-right: 7px;
    transition: 0.5s;
}

.square-selected {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-carousel-main {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    height: 30vh;
}

.team-carousel-image {
    transition: 0.5s;
}

.team-carousel-image img {
    border-radius: 50%;
    height: 100%;
}

.carousel-selected {
    height: 200px;
    z-index: 3;
}

.carousel-selected img {
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.15);
}

.carousel-prev-prev, .carousel-next-next {
    height: 120px;
    opacity: 0.6;
    z-index: 1;
}

.carousel-prev, .carousel-next {
    height: 150px;
    opacity: 0.8;
    z-index: 2;
}

.carousel-prev-prev {
    transform: translateX(100px);
}

.carousel-prev {
    transform: translateX(50px);
}

.carousel-next {
    transform: translateX(-50px);
}

.carousel-next-next {
    transform: translateX(-100px);
}

.team-carousel-button {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.team-details {
    color: white;
    text-align: right;
    margin-top: 3vh;
    text-align: center;
}

.team-name {
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;
    margin-bottom: 1vh;
}

.team-designation {
    font-weight: 600;
    text-shadow: 1.1rem;
    margin-bottom: 1.5vh;
}

.team-social a {
    text-decoration: none;
}

.team-social i {
    color: white;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
    font-size: 2rem;
    margin-left: 10px;
    margin-right: 10px;
}

.gallery {
    padding: 5vw 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.gallery-row {
    width: 33.33333333%;
    height: 100%;
}

.gallery-row img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-image-upper {
    height: 40%;
    object-fit: contain;
}

.gallery-image-lower {
    height: 60%;
    object-fit: contain;
}

.gallery-title {
    height: 40%;
    background-color: #1C5981;
    display: flex;
    flex-direction: column;
    padding-top: 2vh;
    padding-left: 5vw;
}

.gallery-icon {
    width: 100px;
}

.gallery-icon img {
    width: 100%;
}

.gallery-title h2 {
    color: white;
    font-size: 2.4rem;
    font-weight: 500;
}

.gallery-underline {
    height: 5px;
    width: 70%;
    background-color: #9FC4DC;
    margin-top: 2vh;
}

.achievements {
    background-color: #1C5981;
    margin-top: 5vh;
    padding: 3vw 5vw;
    height: 85vh;
}

.achievements-heading h2 {
    font-weight: 500;
    font-size: 2rem;
    color: white;
    margin-top: 2vh;
}

.achievements-icon {
    height: 50px;
}

.achievements-icon img {
    height: 100%;
}

.achievement-underline {
    height: 5px;
    width: 5vw;
    background-color: #9FC4DC;
    margin-top: 2vh;
}

.achievements-main {
    display: flex;
    margin-top: 5vh;
    position: relative;
}

.achievement-carousel {
    width: 50%;
    position: relative;
}

.achievement-carousel img {
    position: absolute;
    width: 60%;
    left: 20%;
    transition: 0.5s;
}

.achievement-details {
    display: flex;
    width: 50%;
    margin-left: 10%;
    align-items: center;
}

.achievement-details ul {
    width: 60%;
}

.achievement-details ul li {
    margin-top: 3vh;
    margin-bottom: 2vh;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
}

.achievement-list-underline {
    height: 4px;
    width: 15vw;
    background-color: #9FC4DC;
    transition: 1s;
}

#achievement-image-2, #achievement-image-3, #achievement-image-4 {
    opacity: 0;
}

#achievement-underline-2, #achievement-underline-3, #achievement-underline-4 {
    width: 0;
}

.achievements-design {
    position: absolute;
    height: 60vh;
    right: 5vw;
    bottom: -5vh;
}

.achievements-design img {
    height: 100%;
}

.reviews {
    background-color: #1C5981;
    margin-top: 5vh;
    padding: 3vw 5vw;
    position: relative;
    height: 85vh;
}

.reviews-heading-icon {
    height: 50px;
}

.reviews-heading-icon img {
    height: 100%;
}

.reviews-heading h2 {
    font-weight: 500;
    font-size: 2rem;
    color: white;
    margin-top: 2vh;
}

.reviews-underline {
    height: 5px;
    width: 5vw;
    background-color: #9FC4DC;
    margin-top: 2vh;
}

.review-card {
    background: rgba(60, 158, 222, 0.8);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    width: 30vw;
    padding: 1vw 2vw;
    position: absolute;
}

.review-header {
    display: flex;
    justify-content: space-between;
}

.review-user {
    display: flex;
    align-items: center;
}

.review-user img {
    height: 40px;
    margin-right: 1vw;
}

.review-user p {
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
    margin-right: 1vw;
}

.review-user i {
    color: white;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
}

.review-rating {
    display: flex;
    align-items: center;
    color: white;
}

.review-rating p {
    margin-right: 0.5vw;
}

.review-rating i {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.review-body {
    color: white;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-weight: 500;
}

#review-card-1 {
    top: 30vh;
    left: 10vw;
}

#review-card-2 {
    top: 23vh;
    left: 42vw;
}

#review-card-3 {
    top: 55vh;
    left: 15vw;
}

#review-card-4 {
    top: 48vh;
    left: 48vw;
}

.review-bg-icons {
    height: 150px;
    position: absolute;
}

.review-bg-icons img {
    height: 100%;
}

.review-thumbs {
    right: 10vw;
    top: 10vh;
}

.review-star {
    right: 8vw;
    bottom: 10vh;
}

.review-smile {
    bottom: 10vh;
    left: 1vw;
}

footer {
    position: relative;
    margin-top: 20vh;
}

.footer {
    width: 85%;
    margin: auto;
    background: #F4F4F4;
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-bottom: 5vh;
}

.footer-logo-vision {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3vh;
    width: 95%;
    margin: auto;
    padding-top: 50px;
    margin-bottom: 3vh;
}

.footer-logo {
    min-width: 30%;
    max-width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    display: flex;
    width: 80%;
}

.footer-vision {
    width: 69%;
}

.footer-vision h3 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
}

.footer-vision p {
    margin-top: 4vh;
}

.footer-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8vh;
    padding: 0 4.5vw;
}

.footer-contact-details {
    display: flex;
    width: max(70%,600px);
    justify-content: space-between;
}

.footer-contact-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-contact-detail i {
    color: black;
    margin-right: 1vw;
    font-size: 1.3rem;
}

.footer-contact-detail a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
}

.footer-contact-social {
    display: flex;
    width: 15%;
    justify-content: space-between;
    font-size: 2rem;
}

.footer-contact-social a {
    text-decoration: none;
    color: #0487DA;
}

.footer-copyright {
    background-color: #1C5981;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 600;
    padding: 20px 4.5vw;
    border-radius: 0 0 20px 20px;
    margin-top: 3vh;
}

.footer-img {
    width: 100%;
    position: absolute;
    bottom: -60px;
    z-index: -1;
}

.footer-img img {
    width: 100%;
    display: block;
}